<div style="border: 1px solid; padding: 2em 2em; text-align: center">
    To learn more about the about the CiviCRM community, visit <a href="http://civicrm.org/?ref={{ sid }}">civicrm.org</a>.
    Isn't {{ uf }} awesome?
</div>
