<div style="border: 2px solid #5D677B; padding: 10px; min-height:50px" class="crm-content-block crm-community-messages">
  <img src="%%resourceUrl%%/i/logo_lg.png" style="display:block; float:left; width:50px; margin-right:10px;">
  <h2 style="pading:0; margin:0 0 5px;">Welcome to CiviCRM %%ver%%</h2>
  CiviCRM is free, open source software made possible through contributions from people like you. <a href="http://civicrm.org/contribute?s=cm1">Learn how you can help support CiviCRM</a>.
</div>
