{# Messages are intiailly hidden then shown via js instead of the other way around to avoid initial flash #}

<div class="messages help civicrm-community-messages" style="display:none">
  <a href="javascript:void(0)" title="Dismiss" class="crm-i fa-times float-right civicrm-community-message-dismiss"></a>
  <details>
    <summary><strong>{{ title|raw }}…</strong></summary>
    <div class="crm-accordion-body">{{ body|raw }}</div>
  </details>
</div>

<script type="text/javascript">
  (function ($) {
    $(function () {
      if (window.localStorage) {
        {# Get prefs stored in local storage #}
        $('div.civicrm-community-messages').each(function () {
          var content = $(this).text(),
              pref = localStorage.getItem('hide-community-message:' + content);
          {# Show messages that have not been hidden by the user #}
          if (pref !== 'forever') {
            $(this).show();
          }
        });
        $('a.civicrm-community-message-dismiss').click(function () {
          var content = $(this).closest('.civicrm-community-messages').text();
          localStorage.setItem('hide-community-message:' + content, 'forever');
        });
      } else {
        {# If no local storage (older browser), just show all messages #}
        $('div.civicrm-community-messages').show();
      }
      $('a.civicrm-community-message-dismiss').click(function () {
        $(this).closest('.civicrm-community-messages').slideUp();
      });
    });
    {# Community messages are displayed in 4.3+ but CRM.$ was introduced in 4.4 - use cj for backward compat #}
  })(window.cj || CRM.$);
</script>
